.race-arena {
  display: flex;
  flex-direction: column;
}
.hide-arena {
  display: none;
}
.container-mode {
}
.container-mode__btn {
  width: max-content;
  height: max-content;
  font-size: 22px;
  background-color: #001d90;
  color: #37c1c1;
  border: 2px #248fc378 solid;
  border-radius: 9px;
  padding: 5px 10px 5px 10px;
}
.container-mode__btn:not(:last-child) {
  margin-right: 10px;
}
.container-preparate {
}
.wrap-create {
}
.wrap-create-upd__input {
  font-size: 20px;
  border-radius: 6px;
  border: 2px #8900b0 solid;
  background-color: #2a0101;
  padding: 5px 10px 5px 10px;
  margin: 22px 0 0 0;
}
.container-preparate__btn {
  width: 110px;
  height: max-content;
  font-size: 22px;
  padding: 5px 10px 5px 10px;
  color: #73e036;
  border: 2px #7f0f0f solid;
  border-radius: 9px;
  background-color: #000f4c;
}
.wrap-update {
}
.container-third {
  padding: 10px 0 10px 0;
}
.container-third__btn {
  font-size: 20px;
}
.wrap-tracks {
}
.container-title {
}
.container-title__title {
}
.container-title__page {
}
.field-race {
  position: relative;
  overflow: hidden;
}
.subwrap-field-race {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.container-track {
}
.line-mode-1 {
}
.line-mode-1__btn {
}
.line-mode-1__name {
}
.line-mode-2 {
  position: relative;
  display: flex;
  border-bottom: 3px black dashed;
}
.wrap-status {
  display: flex;
  flex-direction: column;
}
.mode-status {
}
.mode-status__status:last-child {
  margin: 7px 0 0 0;
}
.mode-status__start, .mode-status__finish {
  display: inline-flex;
  width: 40px;
  height: 35px;
  border: 2px rgb(2, 52, 71) solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.size-icon-race {
  width: 100%;
}
.wrap-image-ship {
  position: relative;
  // left: 0px;
}
.wrap-image-earth {
  margin-left: auto;
  padding-right: 10%;
}
.page-btn {
}
.page-btn__previous {
}
.page-btn__next {
}