.winner-mode {
	display: none;
	padding: 20px 0 0 0;
}

.winners-desk {
	width: max-content;
	border-top: 2px;
	border-left: 1px;
	border-right: 2px;
	border-bottom: 0px;
	border-color: #a0b0c7;
	border-style: solid;
	margin: 0 0 20px 0;
}

.winner-desk__navigate {
	display: flex;
	color: aliceblue;
}

.winner-desk__body {
	display: flex;
	color: aliceblue;
	justify-content: space-between;
	border-left: 1px;
	border-right: 0px;
	border-top: 1px;
	border-bottom: 2px;
	border-color: #a0b0c7;
	border-style: solid;
	overflow: hidden;
}

.winner-desk__title-head {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border-left: 1px;
	border-right: 1px;
	border-top: 0px;
	border-bottom: 0px;
	border-color: #a0b0c7;
	border-style: solid;
}

.winner-desk__title-head:last-child {
	border-right: 0px;
}

.show-winner {
	display: flex;
	flex-direction: column;
}

.winner-desk__item {
	padding: 10px 25px 10px 25px;
}

.winner-desk__column {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: 0px;
	border-right: 2px;
	border-top: 1px;
	border-bottom: 0px;
	border-color: #a0b0c7;
	border-style: solid;
	padding: 10px 10px 10px 10px;
	height: fit-content;
	bottom: 0px;
}

.winner-desk__column:last-child {
	border-right: 0px;
}

#winWins,
#winTime:hover {
	cursor: pointer;
}

.winner-desk__head {}

.craft-scale {
	width: 60%;
}

.craft-image {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 39px;
}

.wrap-buttons {
	display: flex;
}

.button-winner {
	font-size: 15px;
  padding: 2px 5px 2px 5px;
  background-color: #b5b0b0;
  border-radius: 4px;
}
.button-winner:not(:last-child) {
	margin: 0 5px 0 0;	
}